@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: background-color 0.3s ease, color 0.3s ease;
}

html::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #16BC4E, #65fd08);
  border-radius: 0.75vh;
  border: 0.1041666667vw solid transparent;
  background-clip: content-box;
}

html::-webkit-scrollbar {
  width: 0.5vw;
}

html::-webkit-scrollbar-track {
  background: #1a1a1a;
}

body {
  background-color: #000000;
  color: #ffffff;
  width: 100%;
}

header {
  position: relative;
  width: 100%;
  height: fit-content;
}
header nav {
  width: 100%;
  height: 13.8888888889vh;
  background: linear-gradient(90deg, #65fd08, #16BC4E);
  border-radius: 0 0 25px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #000000;
  font-size: 2.25rem;
  font-family: "Montserrat", sans-serif;
}
header nav p a {
  text-decoration: none;
  color: #000000;
}
header nav p:first-of-type {
  font-size: 3rem;
  font-family: "Comfortaa", sans-serif;
}
header nav p:not(:first-of-type) {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
header nav p:not(:first-of-type):hover {
  font-size: 2.45rem;
  border-bottom: 2px solid #000000;
}
header nav div {
  width: 5.2083333333vw;
  height: 9.2592592593vh;
  border-radius: 100%;
  background-color: #000000;
  cursor: pointer;
  background-image: url(/icon/sun.svg);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

main {
  width: 100%;
  height: 111.1111111111vh;
}
main #arrow_box {
  display: block;
  margin-top: 4.6296296296vh;
  margin-left: 2.6041666667vw;
  width: 5.2083333333vw;
  height: 9.2592592593vh;
  background: url(/icon/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 45%;
  border: 0px solid #000000;
  transition: all 0.15s ease;
}
main #arrow_box:hover {
  border-radius: 50%;
  border: 2px solid #ffffff;
}
main h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
  padding-top: 9.2592592593vh;
}
main p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 3.5rem;
  padding-top: 13.8888888889vh;
  padding-left: 5.2083333333vw;
}
main .container {
  display: flex;
  justify-content: center;
  padding-top: 7.8703703704vh;
  color: #ffffff;
}
main .container .parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1.6145833333vw;
  grid-row-gap: 4.6296296296vh;
}
main .container a {
  text-decoration: none;
  color: #ffffff;
}
main .container a .card {
  width: 17.7083333333vw;
  height: 13.8888888889vh;
  background-color: #111111;
  border-radius: 15px;
  box-shadow: 4px 5px 10px 0px #65fd08;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-in-out;
}
main .container a .card img {
  transition: all 0.25s ease-in-out;
}
main .container a .card:hover {
  background-color: #65fd08;
  box-shadow: 0px 0px 45px 5px #65fd08;
  color: #111111;
}
main .container a .card:hover img {
  filter: brightness(0);
}
main .container a .card p {
  color: #ffffff;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin-left: 0.78125vw;
}
main .container .div1 {
  grid-area: 1/1/2/2;
}
main .container .div2 {
  grid-area: 1/2/2/3;
}
main .container .div3 {
  grid-area: 1/3/2/4;
}
main .container .div4 {
  grid-area: 1/4/2/5;
}
main .container .div5 {
  grid-area: 1/5/2/6;
}
main .container .div6 {
  grid-area: 2/1/3/2;
}
main .container .div7 {
  grid-area: 2/2/3/3;
}
main .container .div8 {
  grid-area: 2/3/3/4;
}
main .container .div9 {
  grid-area: 2/4/3/5;
}
main .container .div9 p {
  width: 13.0208333333vw;
  word-wrap: break-word;
  text-align: center;
}
main .container .div10 {
  grid-area: 2/5/3/6;
}
main .container .div11 {
  grid-area: 3/1/4/2;
}
main .container .div11 p {
  width: 11.71875vw;
  word-wrap: break-word;
  text-align: center;
}
main .container .div12 {
  grid-area: 3/2/4/3;
}
main .container .div12 p {
  width: 10.4166666667vw;
  word-wrap: break-word;
  text-align: center;
}
main .container .div13 {
  grid-area: 3/3/4/4;
}
main .container .div13 p {
  width: 13.0208333333vw;
  word-wrap: break-word;
  text-align: center;
}
main .container .div14 {
  grid-area: 3/4/4/5;
}
main .container .div14 p {
  width: 10.4166666667vw;
  word-wrap: break-word;
  text-align: center;
}

footer {
  width: 100%;
  height: 50vh;
  background-color: #111111;
  color: #ffffff;
  justify-items: center;
}
footer h1 {
  padding-top: 4.6296296296vh;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 600;
}
footer #conteiner {
  padding-top: 14.9074074074vh;
  padding-bottom: 16.8518518519vh;
  width: 76.5625vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer #mail {
  position: relative;
  top: 0;
  left: -1vw;
}

@media (max-width: 3840px) and (max-height: 2160px) {
  header nav {
    font-size: 4.75rem;
    border-radius: 0 0 45px 45px;
  }
  header nav p:first-of-type {
    font-size: 6.25rem;
  }
  header nav p:not(:first-of-type):hover {
    font-size: 5.5rem;
    border-bottom: 3.5px solid;
  }
  main h1 {
    font-size: 12.5rem;
  }
  main p {
    font-size: 6.625rem;
  }
  main .container a .card {
    box-shadow: 8px 10px 20px #65fd08;
    border-radius: 30px;
  }
  main .container a .card:hover {
    box-shadow: 0px 0px 80px 8px #65fd08;
  }
  main .container a .card p {
    font-size: 3rem;
  }
  footer {
    font-size: 2.5rem;
  }
  footer h1 {
    font-size: 7rem;
  }
}
@media (max-width: 2560px) and (max-height: 1440px) {
  header nav {
    font-size: 3rem;
    border-radius: 0 0 30px 30px;
  }
  header nav p:first-of-type {
    font-size: 4.25rem;
  }
  header nav p:not(:first-of-type):hover {
    font-size: 3.5rem;
  }
  main h1 {
    font-size: 8rem;
  }
  main p {
    font-size: 4.625rem;
  }
  main .container a .card {
    border-radius: 20px;
    box-shadow: 6px 7px 14px 0px #65fd08;
  }
  main .container a .card p {
    font-size: 2rem;
  }
  main .container a .card:hover {
    box-shadow: 0px 0px 60px 6px #65fd08;
  }
  footer {
    font-size: 2rem;
  }
  footer h1 {
    font-size: 5rem;
  }
}
@media (max-width: 1920px) and (max-height: 1080px) {
  header nav {
    border-radius: 0 0 25px 25px;
    font-size: 2.25rem;
  }
  header nav p:first-of-type {
    font-size: 3rem;
  }
  header nav p:not(:first-of-type):hover {
    font-size: 2.75rem;
    border-bottom: 2px solid;
  }
  main h1 {
    font-size: 6rem;
  }
  main p {
    font-size: 3.5rem;
  }
  main .container a .card {
    border-radius: 15px;
    box-shadow: 4px 5px 10px 0px #65fd08;
  }
  main .container a .card p {
    font-size: 2rem;
  }
  main .container a .card:hover {
    box-shadow: 0px 0px 45px 5px #65fd08;
  }
  footer {
    font-size: 1rem;
  }
  footer h1 {
    font-size: 3rem;
  }
}
@media (max-width: 1280px) and (max-height: 720px) {
  header nav {
    font-size: 1.5rem;
  }
  header nav p:first-of-type {
    font-size: 2.25rem;
  }
  header nav p:not(:first-of-type):hover {
    font-size: 1.75rem;
  }
  main h1 {
    font-size: 4rem;
  }
  main p {
    font-size: 2.625rem;
  }
  main .container a .card {
    border-radius: 10px;
    box-shadow: 2px 3px 8px 0px #65fd08;
  }
  main .container a .card p {
    font-size: 1.25rem;
  }
  main .container a .card:hover {
    box-shadow: 0px 0px 30px 3px #65fd08;
  }
  footer {
    font-size: 0.75rem;
  }
  footer h1 {
    font-size: 2.25rem;
  }
}/*# sourceMappingURL=oge-ege.css.map */