@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$black: #000000;  //dark rgb(0, 0, 0)
$shade-black: #111111;  //dark rgb(17, 17, 17)
$dark-gray: #1e1e1e;  //dark rgb(30, 30, 30)
$grey: #bfbfbf;  //light rgb(191, 191, 191)
$dark-white: #f4f4f4;  //light rgb(244, 244, 244)
$white: #ffffff;  //light rgb(255, 255, 255)
$light-green: #65fd08;  //neutral
$dark-green: #16BC4E;  //neutral
$light-blue: #18c9c4;  //neutral
$gradient: linear-gradient(90deg, $light-green, $dark-green);  //neutral
$extra-bold: 800;
$bold: 700;
$semi-bold: 600;
$medium: 500;
$regular: 400;
$montserrat: 'Montserrat', sans-serif;
$comfortaa: 'Comfortaa', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: background-color 0.3s ease, color 0.3s ease;
    transition: color 0.25s ease-in-out;
}

html::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, $dark-green, $light-green);
    border-radius: 0.75vh;
    border: calc(2px / 1920px * 100vw) solid transparent;
    background-clip: content-box;
}

html::-webkit-scrollbar {
    width: 0.5vw;
}

html::-webkit-scrollbar-track {
    background: $shade-black;
}

body {
    background-color: $black;
    color: $white;
    width: 100%;
}

header {
    position: relative;
    width: 100%;
    height: 100vh;

    & nav {
        width: 100%;
        height: calc(150px / 1080px * 100vh);
        background: $gradient;
        border-radius: 0 0 25px 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        color: $black;
        font-size: 2.25rem;
        font-family: $montserrat;

        & p {

            & a {
                border-color: $black;
                text-decoration: none;
                color: $black;
            }

            &:first-of-type {
                font-size: 3rem;    
                font-family: $comfortaa; 
            }

            &:not(:first-of-type) {
                cursor: pointer;
                transition: all .1s ease-in-out;

                &:hover {
                    font-size: 2.75rem;
                    border-color: $black;
                    border-bottom: 2px solid;
                }
            }
        }

        & div {
            width: calc(100px / 1920px * 100vw);
            height: calc(100px / 1080px * 100vh);
            border-radius: 100%;
            background-color: $black;
            cursor: pointer;
            background-image: url(/icon/sun.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 60%;
            transition: all 0.35s ease-in-out;
        }
    }

    & h1 {
        font-size: 4rem;
        font-weight: $bold;
        padding-top: calc(250px / 1080px * 100vh);
        padding-left: calc(150px / 1920px * 100vw);
    }

    & #header_desc {
        font-size: 1.5rem;
        font-weight: $medium;
        padding-left: calc(150px / 1920px * 100vw);
    }
        
    & a {
        height: 100%;
        width: 100%;

        & #first_btn {
            margin-top: calc(136px / 1080px * 100vh);
            margin-left: calc(150px / 1920px * 100vw);
            border-radius: 25px;
            border: none;
            width: calc(400px / 1920px * 100vw);
            height: calc(100px / 1080px * 100vh);
            background: $gradient;
            font-size: 2.25rem;
            font-family: $montserrat;
            font-weight: $bold;
            color: $black;
            cursor: pointer;
            transition: all 0.25s ease-in-out;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    & #max {
        font-size: 8rem;
        font-weight: $extra-bold;
        font-family: $montserrat;
        color: $light-blue;
        text-align: center;
        position: absolute;
        top: calc(350px / 1080px * 100vh);
        left: calc(875px / 1920px * 100vw);
    }
}

main {
    width: 100%;
    height: 100vh;

    & h1 {
        text-align: center;
        font-size: 4rem;
        font-weight: $bold;
        padding-top: calc(90px / 1080px * 100vh);
    }

    & #box {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: calc(172px / 1080px * 100vh);

        & div {
            border-radius: 25px;
            width: calc(400px / 1920px * 100vw);
            height: calc(400px / 1080px * 100vh);
            background: $gradient;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            & .ttl {
                display: block;
                font-family: $montserrat;
                font-weight: $medium;
                font-size: 6rem;
                text-align: center;
                position: relative;
                transition: all 0.35s ease-out;
                z-index: 2;
                padding-top: calc(142px / 1080px * 100vh);
            }

            & .disc {
                display: none;
                font-family: $montserrat;
                font-weight: $medium;
                font-size: 1rem;
                width: calc(350px / 1920px * 100vw);
                height: calc(60px / 1080px * 100vh);
                line-height: 1;
                margin-top: calc(17.5px / 1080px * 100vh);
            }


            & .btn {
                display: none;
                padding-top: calc(30px / 1080px * 100vh);

                & button {
                    border: none;
                    border-radius: 25px;
                    background-color: $black;
                    width: calc(350px / 1920px * 100vw);
                    height: calc(50px / 1080px * 100vw);
                    font-family: $montserrat;
                    font-size: 2rem;
                    color: $white;
                    cursor: pointer;
                }
            }

            &:hover {
                & .ttl {
                    font-size: 4rem;
                    transform: translateY(-5vh);
                    padding-top: calc(90px / 1080px * 100vh);
                }

                & .disc {
                    display: block;
                }

                & .btn{
                    display: block;
                }
            }
        }
    }
}

section {
    width: 100%;
    height: 100vh;
    background-color: $dark-gray;

    & h1 {
        padding-top: calc(170px / 1080px * 100vh);
        padding-left: calc(150px / 1920px * 100vw);
        font-family: $montserrat;
        font-size: 4rem;
        font-weight: $bold;
        background: $gradient;
        color: transparent;
        background-clip: text;
        display: inline-block;
    }

    & #group {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: calc(245px / 1080px * 100vh);

        & div {
            width: calc(400px / 1920px * 100vw);
            height: calc(100px / 1080px * 100vh);
            background: $light-blue;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $black;
            font-family: $montserrat;
            font-size: 1.75rem;
            font-weight: $semi-bold;

            & img {
                padding-right: calc(15px / 1920px * 100vw);
                transition: filter 0.3s ease;
                width: calc(65px / 1920px * 100vw);
                height: calc(65px / 1080px * 100vh);
            }
        }
    }
}

footer {
    width: 100%;
    height: calc(540px / 1080px * 100vh);
    background-color: $dark-white;
    color: $black;
    justify-items: center;
    font-size: 1rem;

    & h1 {
        padding-top: calc(50px / 1080px * 100vh);
        font-family: $montserrat;
        font-size: 3rem;
        font-weight: $semi-bold;
    }

    & #conteiner {
        padding-top: calc(161px / 1080px * 100vh);
        padding-bottom: calc(182px / 1080px * 100vh);
        width: calc(1470px / 1920px * 100vw);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    & #mail {
        position: relative;
        top: 0;
        left: -1vw;
    }
}

// для 4k
@media (max-width: 3840px) and (max-height: 2160px) {
    header {
        & nav {
            font-size: 4.75rem;
            border-radius: 0 0 45px 45px;

            & p {
                &:first-of-type {
                    font-size: 6.25rem;
                }

                &:not(:first-of-type) {
                    &:hover {
                        font-size: 5.5rem;
                        border-bottom: 3.5px solid;
                    }
                }
            }
        }

        & h1 {
            font-size: 7rem;
        }

        & #header_disc { // какая-то ошибка
            font-size: 3rem;
        }

        & a {
            & #first_btn {
                font-size: 4rem;
                border-radius: 45px;
            }
        }

        & #max {
            font-size: 15rem;
        }
    }

    section {
        & h1 {
            font-size: 7rem;
        }

        & #group {
            & div {
                border-radius: 45px;
                font-size: 3rem;
            }
        }
    }

    main {
        & h1 {
            font-size: 7rem;
        }

        & #box {
            & div {
                border-radius: 45px;

                & .ttl {
                    font-size: 12.5rem;
                }

                & .disc {
                    font-size: 2.25rem;
                    margin-top: calc(20px / 1080px * 100vh);
                }

                & .btn {
                    & button {
                        border-radius: 45px;
                        font-size: 3rem;
                    }
                }

                &:hover {
                    & .ttl {
                        font-size: 8.5rem;
                    }
                }
            }
        }
    }

    footer {
        font-size: 2.5rem;

        & h1 {
            font-size: 7rem;
        }
    }
}

// для 2k
@media (max-width: 2560px) and (max-height: 1440px) {
    header {
        & nav {
            font-size: 3rem;
            border-radius: 0 0 30px 30px;

            & p {
                &:first-of-type {
                    font-size: 4.25rem;
                }

                &:not(:first-of-type) {
                    &:hover {
                        font-size: 3.5rem;
                    }
                }
            }
        }

        & h1 {
            font-size: 5rem;
        }

        & #header_disc {
            font-size: 2rem;
        }

        & a {
            & #first_btn {
                font-size: 2.75rem;
                border-radius: 30px;
            }
        }

        & #max {
            font-size: 10rem;
        }
    }

    section {
        & h1 {
            font-size: 5.5rem;
        }

        & #group {
            & div {
                border-radius: 30px;
                font-size: 2.5rem;
            }
        }
    }

    main {
        & h1 {
            font-size: 5.5rem;
        }

        & #box {
            & div {
                border-radius: 30px;

                & .ttl {
                    font-size: 8rem;
                }

                & .disc {
                    font-size: 1.5rem;
                }

                & .btn {
                    & button {
                        border-radius: 30px;
                        font-size: 2.75rem;
                    }
                }

                &:hover {
                    & .ttl {
                        font-size: 6rem;
                    }
                }
            }
        }
    }
    
    footer {
        font-size: 2rem;

        & h1 {
            font-size: 5rem;
        }
    }
}

// для FullHD
@media (max-width: 1920px) and (max-height: 1080px) {
    header {
        & nav {
            border-radius: 0 0 25px 25px;
            font-size: 2.25rem;

            & p {

                &:first-of-type {
                    font-size: 3rem;    
                }

                &:not(:first-of-type) {
                    &:hover {
                        font-size: 2.75rem;
                        border-bottom: 2px solid;
                    }
                }
            }

            & div {
                transition: all 0.35s ease-in-out;
            }
        }

        & h1 {
            font-size: 4rem;
        }

        & #header_desc {
            font-size: 1.5rem;
        }
            
        & a {
            & #first_btn {
                border-radius: 25px;
                font-size: 2.25rem;
            }
        }

        & #max {
            font-size: 8rem;
        }
    }

    main {
        & h1 {
            font-size: 4rem;
        }

        & #box {
            & div {
                border-radius: 25px;

                & .ttl {
                    font-size: 6rem;
                }

                & .disc {
                    font-size: 1rem;
                    margin-top: calc(35px / 1080px * 100vh);
                }


                & .btn {
                    padding-top: calc(20px / 1080px * 100vh);

                    & button {
                        border-radius: 25px;
                        font-size: 2rem;
                    }
                }

                &:hover {
                    & .ttl {
                        font-size: 4rem;
                    }
                }
            }
        }
    }

    section {
        & h1 {
            font-size: 4rem;
        }

        & #group {
            & div {
                border-radius: 25px;
                font-size: 1.75rem;
            }
        }
    }

    footer {
        font-size: 1rem;

        & h1 {
            font-size: 3rem;
        }

        & #mail {
            top: 0;
            left: -1vw;
        }
    }
}

// для HD
@media (max-width: 1280px) and (max-height: 720px) {
    header {
        & nav {
            font-size: 1.5rem;

            & p {
                &:first-of-type {
                    font-size: 2.25rem;
                }

                &:not(:first-of-type) {
                    &:hover {
                        font-size: 1.75rem;
                    }
                }
            }
        }

        & h1 {
            font-size: 3.5rem;
        }

        & #header_desc {
            font-size: 1rem;
        }

        & a {
            & #first_btn {
                font-size: 1.5rem;
                border-radius: 20px;
            }
        }

        & #max {
            font-size: 6rem;
        }
    }

    main {
        & h1 {
            font-size: 3rem;
        }

        & #box {
            & div {
                & .ttl {
                    font-size: 4rem;
                }

                &  .disc {
                    font-size: 0.75rem;
                }

                & .btn {
                    & button {
                        border-radius: 20px;
                        font-size: 1.25rem;
                    }
                }

                &:hover {
                    & .ttl {
                        font-size: 3rem;
                    }
                }
            }
        }
    }

    section {
        & h1 {
            font-size: 3rem;
        }

        & #group {
            & div {
                font-size: 1rem;
                border-radius: 20px;
            }
        }
    }

    footer {
        font-size: 0.75rem;
        & h1 {
            font-size: 2.25rem;
        }
    }
}